<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <link href="login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id='title'>목표와 실천 현황을 기록하고 친구와 공유합니다.</div>
    <form action="/login" method="POST">
        <div id='contain'>
            <input type="id" name="id" placeholder="Username">
            <input type="password" name="pw" placeholder="Password">
            <input type="submit" value="로그인">
        </div>
    </form>
</body>

</html>
