h1 {
    font-size: 400%;
    margin-left: 2%;
}

#calendar {
    width: fit-content;
    font-size: 300%;
}

select {
    width: fit-content;
    font-size: 300%;
}

#mode {
    width: fit-content;
    padding: 0;
    font-size: 300%;
    background-color: #FFD2D2;
}

.title {
    height: 40px;
    font-size: 200%;
}

#contain {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.row>td {
    height: fit-content;
    align-items: center;
}

.row>td>div {
    height: fit-content;
    max-height: 10rem;
    font-size: 180%;
    overflow-y: auto;
    text-align: center;
}

td>input {
    font-size: 180%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    width: calc(95% - 6rem);
}

img {
    width: 3rem;
}

#evaluation {
    font-size: 270%;
}

.goal_td {
    display: flex;
    padding-left: 8px;
}

.control_td {
    height: 3rem;
    line-height: 3rem;
}

.control_div {
    vertical-align: middle;
}

.control_btn {
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

.description {
    height: 9rem;
    overflow-y: auto;
    resize: none;
    width: 90%;
    font-size: 100%;
    vertical-align: middle;
}

.state>input {
    height: 2rem;
    font-size: 1.5rem;
    width: 3rem;
}

.percentage>input {
    height: 2rem;
    font-size: 1.5rem;
    width: 3rem;
}