h1 {
    font-size: 4rem;
    margin-left: 2%;
}

.contain {
    height: fit-content;
    width: fit-content;
    font-size: 3rem;
}

#mode {
    width: fit-content;
    padding: 0;
    line-height: 0;
    height: 3.5rem;
    font-size: 3rem;
    background-color: #FFD2D2;
}

#cancel {
    width: fit-content;
    padding: 0;
    line-height: 0;
    height: 3.5rem;
    font-size: 3rem;
    background-color: hsl(230, 90%, 84%);
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

#contain {
    line-height: 3rem;
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

#name {
    text-align: center;
    font-size: 2rem;
}

.row>td {
    height: fit-content;
    align-items: center;
}

.row>td>div {
    height: fit-content;
    font-size: 180%;
    text-align: center;
}

td>input {
    font-size: 180%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    width: calc(96% - 6rem);
}

img {
    width: 3rem;
}

#evaluation {
    font-size: 270%;
}

.goal_td {
    display: flex;
    padding-left: 8px;
}

.control_td {
    height: 3rem;
    line-height: 3rem;
}

.control_div {
    vertical-align: middle;
}

.control_btn {
    height: 2.5rem;
    line-height: 2.5rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.new_line {
    white-space: pre-wrap;
}

.state>input {
    height: 2rem;
    font-size: 1.5rem;
    width: 3rem;
}

.state>div>input {
    height: 2rem;
    font-size: 1.5rem;
    width: 3rem;
}

.state_wrapper {
    float: left;
    width: fit-content;
    line-height: 3rem;
    height: 3rem;
    margin-left: 4%;
}

.type_sel {
    width: 100%;
    font-size: 1.8rem;
}

.type_sel_wrapper {
    float: left;
    margin-left: 2%;
    width: 10rem;
    line-height: 3rem;
    height: 3rem;
}

.percentage>input {
    height: 2rem;
    font-size: 1.5rem;
    width: 3rem;
}

input:not(#calendar),
textarea {
    border-width: medium;
}

textarea {
    margin-top: 4%;
    margin-bottom: 4%;
    width: 80%;
    height: 7.5rem;
    resize: none;
    font-size: 2rem;
    vertical-align: middle;
}